version: '3.8'
services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: mfano_registration
      MYSQL_ROOT_PASSWORD: ''
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql
  maildev:
    image: maildev/maildev
    ports:
      - "1080:80"
      - "1025:1025"
volumes:
  db-data:
