<!-- Head -->
<head th:fragment="common_header(title,links,metas)">

	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title th:utext="${title}">--HOME--</title>
	<meta content="" name="description">
	<meta content="" name="keywords">
	<th:block th:replace="${metas} ?: ~{}" />

	<!-- Favicons -->
	<link th:href="@{/img/mfano.png}" rel="icon">
	<link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

	<!-- Vendor CSS Files -->
	<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
	<link th:href="@{/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
	<link th:href="@{/vendor/quill/quill.snow.css}" rel="stylesheet">
	<link th:href="@{/vendor/quill/quill.bubble.css}" rel="stylesheet">
	<link th:href="@{/vendor/remixicon/remixicon.css}" rel="stylesheet">
	<link th:href="@{/vendor/simple-datatables/style.css}" rel="stylesheet">
	<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">

	<!-- Template Main CSS File -->
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<link th:href="@{/css/custom.css}" rel="stylesheet">
	<th:block th:replace="${links} ?: ~{}" />

</head><!-- End Head -->