 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{partials/_header :: common_header(~{::title/text()},~{::link},~{::meta})}">
    <!-- Custom meta data for this template-->
    <meta name="description" content="meo home page">
    <meta name="author" content="mfano">
    <!-- Custom title for this page-->
    <title>MPOS | Roles</title>
    <!-- Custom styles for this page-->
</th:block>

<body>

    <!-- ======= Header ======= -->
    <th:block th:insert="~{partials/_topbar}" />
    <!-- =====End Header===== -->

    <!-- ======= Sidebar ======= -->
    <th:block th:insert="~{partials/_sidebar}" />
    <!-- =====End Sidebar=====-->


    <main id="main" class="main">
        <div class="pagetitle">
            <h1 class="fw-bold mb-1">
                <i class="bi bi-person-badge"></i>
                Roles
            </h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Roles</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section dashboard">
            <!-- HEADER -->
            <div class="d-flex justify-content-between align-items-center mb-4">

                <div>
                    <p class="text-muted mb-0">
                        Manage roles, permissions and access
                    </p>
                </div>

                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">

                    <i class="bi bi-plus-lg"></i>
                    Add Role

                </button>

            </div>

            <!-- SEARCH -->
            <div class="card borde-0">
                <div class="input-group p-2">
                    <span class="input-group-text">
                        <i class="bi bi-search"></i>
                    </span>

                    <input type="text" id="roleSearch" class="form-control" placeholder="Search roles...">
                </div>

                <!-- ROLES TABLE -->
                <div class="card border-0 shadow-sm">
                    <div class="table-responsive p-2">
                        <table class="table table-hover align-middle mb-0" id="roleTable">
                            <thead class="table-light">
                                <tr>
                                    <th>#</th>
                                    <th>Role</th>
                                    <th>Description</th>
                                    <th>Created By</th>
                                    <th>Status</th>
                                    <th class="text-end" sec:authorize="hasRole('ADMIN')">
                                        Actions
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr th:each="r, stat : ${roles}">
                                    <!-- ID -->
                                    <td th:text="${stat.count}">
                                        1
                                    </td>
                                    <!-- ROLE -->
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <!-- ROLE name -->
                                            <span class="fw-semibold text-truncate d-inline-block flex-shrink-1"
                                                th:text="${r.name}" style="max-width: 120px;">
                                                ROLE name
                                            </span>

                                            <!-- More -->
                                            <a href="#" class="ms-2">
                                                show more
                                            </a>
                                        </div>
                                    </td>

                                    <!-- DESCRIPTION -->
                                    <td th:text="${r.description}">
                                        SKU001
                                    </td>
                                    <!-- CREATED BY -->
                                    <td th:text="${r.createdBy}">
                                               PERSON
                                    </td>
                                    <!-- STATUS -->
                                    <td>
                                        <span th:if="${r.active}" class="badge bg-success">
                                            <i class="bi bi-check-circle"></i>
                                            Active
                                        </span>
                                        <span th:unless="${r.active}" class="badge bg-danger">
                                            <i class="bi bi-x-circle"></i>
                                            Inactive
                                        </span>
                                    </td>
                                    <!-- ACTIONS -->
                                    <td class="text-end" sec:authorize="hasAnyRole('ADMIN')">
                                        <div class="btn-group">
                                            <!-- EDIT -->
                                            <button type="button" class="btn btn-sm btn-outline-primary"
                                                data-bs-toggle="modal" th:data-bs-target="'#editModal' + ${r.id}"
                                                title="Edit">

                                                <i class="bi bi-pencil"></i>
                                            </button>
                                            <!-- TOGGLE -->
                                            <form th:action="@{/admin/roles/toggle/{id}(id=${r.id})}" method="post"
                                                class="d-inline">
                                                <button type="submit" class="btn btn-sm btn-outline-warning" th:title="${r.active}
                                            ? 'Deactivate'
                                            : 'Activate'">
                                                    <i th:class="${r.active}
                                        ? 'bi bi-toggle-on'
                                        : 'bi bi-toggle-off'">
                                                    </i>
                                                </button>
                                            </form>
                                            <!-- DELETE -->
                                            <a class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                                                th:data-bs-target="'#deleteModal' + ${r.id}" title="Delete">
                                                <i class="bi bi-trash"></i>
                                            </a>
                                        </div>

                                        <!-- DELETE MODAL -->
                                        <div class="modal fade" th:id="'deleteModal' + ${r.id}" tabindex="-1">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">
                                                            Delete role
                                                        </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                        </button>
                                                    </div>
                                                    <div class="modal-body text-start">
                                                        Are you sure you want to delete
                                                        <strong th:text="${r.name}">
                                                            ROLE
                                                        </strong>?
                                                        <br>
                                                        <small class="text-danger">
                                                            This action cannot be undone.
                                                        </small>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">
                                                            Cancel
                                                        </button>
                                                        <form th:action="@{/admin/roles/delete/{id}(id=${r.id})}"
                                                            method="post">
                                                            <button type="submit" class="btn btn-danger">
                                                                <i class="bi bi-trash"></i>
                                                                Delete
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- EDIT ROLE MODAL -->
                                        <div class="modal fade" th:id="'editModal' + ${r.id}" tabindex="-1"
                                            aria-hidden="true">
                                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                                <div class="modal-content">
                                                    <form th:action="@{/admin/roles/update/{id}(id=${r.id})}" method="post"
                                                        enctype="multipart/form-data">
                                                        <!-- HEADER -->
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">
                                                                <i class="bi bi-pencil-square"></i>
                                                                Edit role
                                                            </h5>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal">
                                                            </button>
                                                        </div>

                                                        <!-- BODY -->
                                                        <div class="modal-body">
                                                            <div class="row g-3">

                                                                <!-- NAME -->
                                                                <div class="col-md-8">
                                                                    <label for="name" class="form-label">
                                                                        Role Name
                                                                    </label>
                                                                    <input type="text" id="name" class="form-control"
                                                                        name="name" placeholder="Role name"
                                                                        th:value="${r.name}" required>
                                                                </div>
                                                                <!-- DESCRIPTION -->
                                                                <div class="col-md-8">
                                                                    <label class="form-label">
                                                                        Description
                                                                    </label>
                                                                    <input type="text" id="description" class="form-control"
                                                                        name="description" placeholder="description"
                                                                        th:value="${r.description}" required>
                                                                </div>

                                                            </div>
                                                        </div>

                                                        <!-- FOOTER -->
                                                        <div class="modal-footer">
                                                            <button type="reset" class="btn btn-warning"
                                                                data-bs-dismiss="modal">
                                                                Clear
                                                            </button>
                                                            <button type="submit" class="btn btn-primary">
                                                                <i class="bi bi-save"></i>
                                                                Save
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <!-- EMPTY -->
                                <tr th:if="${#lists.isEmpty(roles)}">
                                    <td colspan="7" class="text-center py-5">
                                        <i class="bi bi-person-badge fs-1 text-muted"></i>
                                        <h5 class="mt-3">
                                            No Roles found
                                        </h5>
                                        <p class="text-muted">
                                            Add your first role to get started.
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- ADD ROLE MODAL -->
            <div class="modal fade" id="addModal" tabindex="-1">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <form th:action="@{/admin/roles/save}" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title">
                                    <i class="bi bi-plus-circle"></i>
                                    Add Role
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal">
                                </button>
                            </div>

                            <div class="modal-body">
                                <div class="row g-3">
                                    <!-- NAME -->
                                    <div class="col-md-8">
                                        <label class="form-label">
                                            Role Name
                                        </label>
                                        <input type="text" name="name" class="form-control" placeholder="Role name"
                                            required>
                                    </div>
                                    <!-- SKU -->
                                    <div class="col-md-8">
                                        <label class="form-label">
                                            Description
                                        </label>
                                        <input type="text" name="description" class="form-control" placeholder="description"
                                            required>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">
                                    Clear
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    <i class="bi bi-save"></i>
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
        </section>

    </main><!-- End #main -->

    <!-- =====footer===== -->
    <th:block th:insert="~{partials/_footer}" />
</body>

</html>