<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{partials/_header :: common_header(~{::title/text()},~{::link},~{::meta})}">
    <!-- Custom meta data for this template-->
    <meta name="description" content="meo home page">
    <meta name="author" content="mfano">
    <!-- Custom title for this page-->
    <title>MPOS | Admin Users</title>
    <!-- Custom styles for this page-->
</th:block>

<body>

    <!-- ======= Header ======= -->
    <th:block th:insert="~{partials/_topbar}" />
    <!-- =====End Header===== -->

    <!-- ======= Sidebar ======= -->
    <th:block th:insert="~{partials/_sidebar}" />
    <!-- =====End Sidebar=====-->

    <main id="main" class="main">

        <div class="pagetitle">
            <h1 class="fw-bold mb-1">
                <i class="bi bi-people"></i>
                Users
            </h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Users</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section dashboard">
            <!-- HEADER -->
            <div class="d-flex justify-content-between align-items-center mb-4">

                <div>
                    <p class="text-muted mb-0">
                        Manage users, roles and availability
                    </p>
                </div>

                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">

                    <i class="bi bi-person"></i>
                    Add User

                </button>

            </div>

            <!-- SEARCH -->
            <div class="card borde-0">
                <div class="input-group p-2">
                    <span class="input-group-text">
                        <i class="bi bi-search"></i>
                    </span>

                    <input type="text" id="userSearch" class="form-control" placeholder="Search users...">

                </div>

                <!-- USERS TABLE -->
                <div class="card border-0 shadow-sm">
                    <div class="table-responsive p-2" style="max-height: 500px; overflow-y: auto;">
                        <table class="table table-hover align-middle mb-0" id="productTable">
                            <thead class="table-light sticky-top">
                                <tr>
                                    <th>#</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Gender</th>
                                    <th>Branch</th>
                                    <th>Status</th>
                                    <th class="text-end" sec:authorize="hasAnyRole('MANAGER', 'PROCUREMENT', 'ADMIN')">
                                        Actions
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr th:each="u, stat : ${users}">
                                    <!-- ID -->
                                    <td th:text="${stat.count}">
                                        1
                                    </td>
                                    <!-- USER -->
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <!-- User email -->
                                            <a th:href="@{/admin/manage/{id}(id=${u.id})}"
                                                class="fw-bold text-truncate d-inline-block flex-shrink-1"
                                                th:text="${u.email}" style="max-width: 150px;">
                                                User email
                                            </a>

                                        </div>
                                    </td>

                                    <!-- ROLE -->
                                    <td>
                                        <span th:each="role : ${u.roles}" class="badge bg-primary me-1"
                                            th:text="${role.name}">
                                        </span>
                                    </td>
                                    <!-- GENDER -->
                                    <td>
                                        <span th:text="${u.gender}">
                                        </span>
                                    </td>

                                    <!-- BRANCH -->
                                    <td th:text="${u.branch != null ? u.branch.name : 'No Branch'}"></td>
                                    <!-- STATUS -->
                                    <td>
                                        <span th:if="${u.enabled}" class="badge bg-success">
                                            <i class="bi bi-check-circle"></i>
                                            Active
                                        </span>
                                        <span th:unless="${u.enabled}" class="badge bg-secondary">
                                            <i class="bi bi-x-circle"></i>
                                            Inactive
                                        </span>
                                    </td>
                                    <!-- ACTIONS -->
                                    <td class="text-end" sec:authorize="hasAnyRole('MANAGER', 'PROCUREMENT', 'ADMIN')">
                                        <div class="btn-group">

                                            <form th:action="@{/admin/users/resend/{id}(id=${u.id})}" method="post">
                                                <button type="submit" class="btn-sm">Resend</a>
                                            </form>
                                            <!-- EDIT -->
                                            <button type="button" class="btn btn-sm btn-outline-primary"
                                                data-bs-toggle="modal" th:data-bs-target="'#editModal' + ${u.id}"
                                                title="Edit">

                                                <i class="bi bi-pencil"></i>
                                            </button>
                                            <!-- TOGGLE -->
                                            <form th:action="@{/admin/users/toggle/{id}(id=${u.id})}" method="post"
                                                class="d-inline">
                                                <button type="submit" class="btn btn-sm btn-outline-warning" th:title="${u.enabled}
                                            ? 'Deactivate'
                                            : 'Activate'">
                                                    <i th:class="${u.enabled}
                                        ? 'bi bi-toggle-on'
                                        : 'bi bi-toggle-off'">
                                                    </i>
                                                </button>
                                            </form>
                                            <!-- DELETE -->
                                            <a sec:authorize="hasAnyRole('ADMIN')" class="btn btn-sm btn-outline-danger"
                                                data-bs-toggle="modal" th:data-bs-target="'#deleteModal' + ${u.id}"
                                                title="Delete">
                                                <i class="bi bi-trash"></i>
                                            </a>
                                        </div>

                                        <!-- DELETE MODAL -->
                                        <div class="modal fade" th:id="'deleteModal' + ${u.id}" tabindex="-1">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">
                                                            Delete User
                                                        </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                        </button>
                                                    </div>
                                                    <div class="modal-body text-start">
                                                        Are you sure you want to delete
                                                        <strong th:text="${u.email}">
                                                            User
                                                        </strong>?
                                                        <br>
                                                        <small class="text-danger">
                                                            This action cannot be undone.
                                                        </small>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">
                                                            Cancel
                                                        </button>
                                                        <form th:action="@{/admin/users/delete/{id}(id=${u.id})}"
                                                            method="post">
                                                            <button type="submit" class="btn btn-danger">
                                                                <i class="bi bi-trash"></i>
                                                                Delete
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- EDIT USER MODAL -->
                                        <div class="modal fade" th:id="'editModal' + ${u.id}" tabindex="-1"
                                            aria-hidden="true">
                                            <div class="modal-dialog modal-md modal-dialog-centered">
                                                <div class="modal-content">
                                                    <form th:action="@{/admin/users/update/{id}(id=${u.id})}"
                                                        method="post">
                                                        <!-- HEADER -->
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">
                                                                <i class="bi bi-pencil-square"></i>
                                                                Edit User
                                                            </h5>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal">
                                                            </button>
                                                        </div>

                                                        <!-- BODY -->
                                                        <div class="modal-body">
                                                            <!-- EMAIL -->
                                                            <div class="col-md-8">
                                                                <label class="form-label">
                                                                    Email
                                                                </label>
                                                                <input name="email" class="form-control" type="email"
                                                                    placeholder="Email" th:value="${u.email}"
                                                                    required />
                                                            </div>
                                                            <!-- FIN -->
                                                            <div class="col-md-8">
                                                                <label class="form-label">
                                                                    First name
                                                                </label>
                                                                <input type="text" name="fin" class="form-control"
                                                                    placeholder="First name" th:value="${u.fin}"
                                                                    required>
                                                            </div>
                                                            <!-- LAN -->
                                                            <div class="col-md-8">
                                                                <label class="form-label">
                                                                    Last name
                                                                </label>
                                                                <div class="input-group">
                                                                    <input type="text" name="lan" class="form-control"
                                                                        placeholder="Last name" th:value="${u.lan}"
                                                                        required>
                                                                </div>
                                                            </div>
                                                            <!-- PASSWORD -->
                                                            <div class="col-md-8">
                                                                <label class="form-label">
                                                                    Password
                                                                </label>
                                                                <input name="password" class="form-control"
                                                                    th:value="${u.password}" type="password"
                                                                    placeholder="Password" required />
                                                            </div>
                                                            <!-- Gender- -->
                                                            <div class="col-md-8">
                                                                <label class="form-label">
                                                                    Gender
                                                                </label>
                                                                <select class="form-control" name="gender" required>
                                                                    <option value="">--Gender--</option>
                                                                    <option value="Male">Male</option>
                                                                    <option value="Female">Female</option>
                                                                </select>
                                                            </div>
                                                            <!-- ROLE- -->
                                                            <div class="col-md-8">
                                                                <label class="form-label">
                                                                    User role
                                                                </label>
                                                                <select class="form-control" name="role" required>
                                                                    <option value="">-- Role --</option>
                                                                    <option th:each="r : ${roles}" th:value="${r.id}"
                                                                        th:text="${r.name}" required>
                                                                    </option>
                                                                </select>
                                                            </div>
                                                            <!-- BRANCH- -->
                                                            <div class="col-md-8">
                                                                <label class="form-label">
                                                                    User branch
                                                                </label>
                                                                <select class="form-control" name="branch" required>
                                                                    <option value="">-- Branch --</option>
                                                                    <option th:each="s : ${stores}" th:value="${s.id}"
                                                                        th:text="${s.name}" required>
                                                                    </option>
                                                                </select>
                                                            </div>

                                                        </div>

                                                        <!-- FOOTER -->
                                                        <div class="modal-footer">
                                                            <button type="reset" class="btn btn-warning"
                                                                data-bs-dismiss="modal">
                                                                Clear
                                                            </button>
                                                            <button type="submit" class="btn btn-primary">
                                                                <i class="bi bi-save"></i>
                                                                Save
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <!-- EMPTY -->
                                <tr th:if="${#lists.isEmpty(users)}">
                                    <td colspan="7" class="text-center py-5">
                                        <i class="bi bi-people fs-1 text-muted"></i>
                                        <h5 class="mt-3">
                                            No users found
                                        </h5>
                                        <p class="text-muted">
                                            Add your first user to get started.
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- ADD PRODUCT MODAL -->
                <div class="modal fade" id="addModal" tabindex="-1">
                    <div class="modal-dialog modal-md modal-dialog-centered">
                        <div class="modal-content">
                            <form th:action="@{/admin/users/save}" method="post">
                                <div class="modal-header">
                                    <h5 class="modal-title">
                                        <i class="bi bi-plus-circle"></i>
                                        Add Users
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <!-- EMAIL -->
                                    <div class="col-md-8">
                                        <label class="form-label">
                                            Email
                                        </label>
                                        <input name="email" class="form-control" type="email" placeholder="Email"
                                            required />
                                    </div>
                                    <!-- FIN -->
                                    <div class="col-md-8">
                                        <label class="form-label">
                                            First name
                                        </label>
                                        <input type="text" name="fin" class="form-control" placeholder="First name"
                                            required>
                                    </div>
                                    <!-- LAN -->
                                    <div class="col-md-8">
                                        <label class="form-label">
                                            Last name
                                        </label>
                                        <div class="input-group">
                                            <input type="text" name="lan" class="form-control" placeholder="Last name"
                                                required>
                                        </div>
                                    </div>
                                    <!-- PASSWORD -->
                                    <div class="col-md-8">
                                        <label class="form-label">
                                            Password
                                        </label>
                                        <input name="password" class="form-control" type="password"
                                            placeholder="Password" required />
                                    </div>
                                    <!-- GENDER- -->
                                    <div class="col-md-8">
                                        <label class="form-label">
                                            Gender
                                        </label>
                                        <select class="form-control" name="gender" required>
                                            <option value="">-- Gender --</option>
                                            <option value="Male">Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                    <!-- ROLE- -->
                                    <div class="col-md-8">
                                        <label class="form-label">
                                            User role
                                        </label>
                                        <select class="form-control" name="role" required>
                                            <option value="">-- Role --</option>
                                            <option th:each="r : ${roles}" th:value="${r.id}" th:text="${r.name}"
                                                required>
                                            </option>
                                        </select>
                                    </div>
                                    <!-- BRANCH- -->
                                    <div class="col-md-8">
                                        <label class="form-label">
                                            User branch
                                        </label>
                                        <select class="form-control" name="branch" required>
                                            <option value="">-- Branch --</option>
                                            <option th:each="s : ${stores}" th:value="${s.id}" th:text="${s.name}"
                                                required>
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">
                                        Clear
                                    </button>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="bi bi-save"></i>
                                        Save
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
        </section>

    </main><!-- End #main -->

    <!-- =====footer===== -->
    <th:block th:insert="~{partials/_footer}" />
</body>

</html>