<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{partials/_header :: common_header(~{::title/text()},~{::link},~{::meta})}">
    <!-- Custom meta data for this template-->
    <meta name="description" content="meo home page">
    <meta name="author" content="mfano">
    <!-- Custom title for this page-->
    <title>MPOS | Admin Users</title>
    <!-- Custom styles for this page-->
</th:block>

<body>

    <!-- ======= Header ======= -->
    <th:block th:insert="~{partials/_topbar}" />
    <!-- =====End Header===== -->

    <!-- ======= Sidebar ======= -->
    <th:block th:insert="~{partials/_sidebar}" />
    <!-- =====End Sidebar=====-->

    <main id="main" class="main">

        <div class="pagetitle">
            <h1 class="fw-bold mb-1">
                <i class="bi bi-people"></i>
                Users
            </h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <form th:action="@{/admin/users/save}" method="post" class="bg-white p-4 rounded mb-4">
            <input name="email" type="email" placeholder="Email" required />
            <input name="password" type="password" placeholder="Password" required />
            <select name="role" required>
                <option value="">-- Role --</option>
                <option th:each="r : ${roles}" th:value="${r.id}" th:text="${r.name}" required></option>
            </select>

            <select name="branch" required>
                <option value="">-- Branch --</option>
                <option th:each="s : ${stores}" th:value="${s.id}" th:text="${s.name}" required></option>
            </select>
            <button class="bg-primary">Create User</button>
        </form>

        <table class="w-full bg-white">
            <tr>
                <th>Email</th>
                <th>Role</th>
                <th>Branch</th>
            </tr>
            <tr th:each="u : ${users}">
                <td th:text="${u.email}"></td>
                <td>
                    <span th:each="role : ${u.roles}" class="badge bg-primary me-1" th:text="${role.name}">
                    </span>
                </td>
                <td th:text="${u.branch != null ? u.branch.name : 'No Branch'}"></td>
            </tr>
        </table>

    </main><!-- End #main -->

    <!-- =====footer===== -->
    <th:block th:insert="~{partials/_footer}" />
</body>

</html>